---
import PostCard from "../PostCard.astro";

const { node } = Astro.props;
const title = (node.__typename == 'Tag') ? 'Tag' : 'Category'
---
 <h1 class="text-3xl">Posts {title} {node.name}</h1>

 {node.posts.nodes.map(post => {
    return (
        <PostCard post={post}></PostCard>
    )
})}
