---
const { pages, generalSettings } = Astro.props
import Temas from './ThemeSwitch.astro'
---

<header class="font-xl">
  <div class="navbar bg-base-100">
    <div class="flex-1 items-center">
      <a href="/" class="site-name h-auto flex items-center gap-1 text-2xl font-semibold font-['Zen_Dots']"
      >
        <div class="w-10 h-10 logo bg-no-repeat bg-contain"></div>
        {generalSettings.title}</a>
    </div>
    <nav class="font-2xl bg-base-100">
      <ul class="menu menu-horizontal font-2xl px-1">
        {
          pages.nodes.map(page => {
            return (
              <li>
                <a href={page.uri || '/'}>{page.title}</a>
              </li>
            )
          })
        }
      </ul>
      <Temas />
    </nav>
  </div>
  <div class="hamburger text-primary">&#9776;</div>
</header>

<script>
  const hamburger = document.querySelector('.hamburger')
  const nav = document.querySelector('nav')

  hamburger.addEventListener('click', toggleNav)

  function toggleNav() {
    nav.classList.toggle('show-nav')
    console.log('running')
  }
</script>

<style is:global>
[data-theme="emerald"] .logo {
  background-image: url("/teseu.svg");
}

[data-theme="business"] .logo {
  background-image: url("/teseu-p.svg");
}

[data-theme="night"] .logo {
  background-image: url("/teseu.svg");
}

</style>
<style>

  header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* hamburger icon styling */
  .hamburger {
    display: none;
    font-size: 2rem;
    /* color: #001b89; */
    margin-right: 10px;
    cursor: pointer;
  }
  /* nav menu styling */
  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  nav li {
    margin-left: 20px;
  }
  nav a {
    text-decoration: none;
  }
  /* media query for mobile */
  @media (max-width: 767px) {
    /* hamburger icon shows up */
    .hamburger {
      display: block;
    }
    /* nav is hidden by default */
    nav {
      display: none;
      flex-direction: column;
      justify-content: flex-start;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      bottom: 0;
    }
    /* nav links are stacked and centered */
    nav ul {
      flex-direction: column;
      align-items: center;
    }
    /* nav link styling */
    nav li {
      margin: .8rem 0;
    }
    /* nav links show up when hamburger icon is clicked */
    nav.show-nav {
      display: flex;
    }
  }
  .menu {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.2;
  padding: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
</style>
